<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    {%- block title -%}
      <title>{{ config.title }}</title>
    {%- endblock title -%}

    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
  </head>
  <body>
    <div class="sidebar-left">
      {%- block sidebar_left -%}
      {%- endblock sidebar_left -%}
    </div>

    <div class="sidebar-right">
      {%- block sidebar_right -%}
        <img src="https://sadgrl.online/images/homepage/nft.gif">
        <img src="https://anlucas.neocities.org/penguin.gif">
        <img src="https://sadgrl.online/images/homepage/noweb32webp.webp">
      {%- endblock sidebar_right -%}
    </div>

    <div class="container">
      <p class="header">
        <a href="{{ config.base_url }}">~~~ {{ config.title }} ~~~</a>
      </p>

      {%- block main -%}
        <h1>Posts</h1>
        {%- for page in paginator.pages -%}
          <h2 class="post-title">
            <a href="{{ page.permalink }}">{{ page.title }}</a>
          </h2>
        {%- endfor -%}
      {%- endblock main -%}
    </div>
  </body>
</html>
