{% import "macros/posts.html" as posts -%}
{% import "macros/taxonomies.html" as taxonomies -%}
{%- extends "index.html" -%}

{%- block title %}
  <title>{{ page.title }}</title>
{%- endblock title -%}

{%- block article_info -%}
  {{ posts::meta(page=page) }}
  {% if page.taxonomies.categories -%}
    categories: {
    {{ taxonomies::list_taxonomies(taxonomies=page.taxonomies.categories, kind="categories", separator=",") }}}
  {% endif -%}
{%- endblock article_info -%}

{%- block sidebar_left -%}
  <h1 class="post-title">
    <a href="{{ page.permalink }}">{{ page.title }}</a>
  </h1>
  {{ posts::meta(page=page) }}
  <div class="toc">
    <ol type="1">
      {% for h1 in page.toc %}
          <li>
              <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
              {% if h1.children %}
                  <ol type="a">
                      {% for h2 in h1.children %}
                          <li>
                              <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                          </li>
                      {% endfor %}
                  </ol>
              {% endif %}
          </li>
      {% endfor %}
    </ol>
  </div>
{%- endblock sidebar_left -%}

{%- block main -%}
  <article class="post">
    <header>
      <h1 class="post-title">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
      </h1>

      {{ page.content | safe }}
    </header>
  </article>
{%- endblock main -%}
